* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  text-align: center;
  background-color: rgb(250, 250, 250);
  height: 100%;
  width: 100%;
}

.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1vacchr-MuiAutocomplete-root,
.MuiAutocomplete-inputRoot.MuiInput-underline:before {
  content: none;
}

.MuiAutocomplete-hasPopupIcon.css-1r3n88j-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-1r3n88j-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding: 0;
  width: 87%;
  border-radius: 4px;
  margin: 0 auto;
}
