* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  padding-top: 20px;
  text-align: center;
  background-color: rgb(249, 242, 223);
  height: 1000px;
}
.App h2 {
  text-align: center;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 30px;
  column-gap: 1rem;
  padding: 20px 0;
}

/* .formPart {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 3rem;
  padding: 3rem 0;
} */
.leftPart form input {
  border-radius: 10px;
  padding: 15px;
  border: none;
  outline: none;
}
.title {
  text-align: center;
}

.current--State {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.current--State img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

.detailCards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}
.rightPart {
  width: 70%;
}
