/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.App {
  text-align: center;
  /* background-color: rgb(250, 250, 250); */
  background-color: red;
  height: 100vh;
  /* overflow: hidden; */
}
/* .css-etx0v6-MuiAutocomplete-root .MuiFormControl-fullWidth {
  width: 70%;
} */
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-1vacchr-MuiAutocomplete-root,
.MuiAutocomplete-inputRoot.MuiInput-underline:before {
  content: none;
}

.css-1q60rmi-MuiAutocomplete-endAdornment
  .css-qzbt6i-MuiButtonBase-root-MuiIconButton-root-MuiAutocomplete-popupIndicator {
  display: none;
}

.MuiInput-underline:after {
  content: none;
}
.css-1mn92i9-MuiCardContent-root {
  padding: 0;
}

.MuiAutocomplete-hasPopupIcon.css-yq1bj6-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-yq1bj6-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot
  .css-yq1bj6-MuiAutocomplete-root
  .MuiInput-root
  .MuiInput-input {
  width: 70%;
  margin: 0 auto;
  background-color: pink;
}
.MuiAutocomplete-hasPopupIcon.css-yq1bj6-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot,
.MuiAutocomplete-hasClearIcon.css-yq1bj6-MuiAutocomplete-root
  .MuiAutocomplete-inputRoot {
  padding-right: 0;
  padding: 5px;
}

.css-15alm28-MuiStack-root {
  height: 100%;
}
